{% extends 'base.html' %}

{% block content %}
    <div>
        <div>
            <h1 class = "text-center m-3">LINKS GENERATED</h1>
        </div>
        <div>
            {% if messages %}
                <div class="text-center">
                    <!-- {% for message in messages %} -->
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    <!-- {% endfor %} -->
                </div>
            {% endif %}
        </div>
        <div class="container" style="font-family : sans-serif">
            {% for link in links_list%}
                <div class="row text-center m-1">
                    <div class="col-12">
                        <form action="/dashboard/" method="POST" class="form-inline text-center d-inline">
                                {% csrf_token %}
                                <input type="text"  name="link" class="form-control w-20 d-inline" value="{{link}}">           
                                <input type="text"  name="shortlink" class="form-control w-20 inline" value="{{link.short_url}}" readonly>
                                <button class="btn btn btn-primary inline" type="submit">Edit</button>
                        </form>
                        
                        <form action="/deleteURL/" method="POST" class="form-inline text-center d-inline">
                            {% csrf_token %}
                            <input type="hidden" name="link" class="form-floating w-20 inline" value="{{link}}">           
                            <input type="hidden" name="shortlink" class="form-floating w-20 inline" value="{{link.short_url}}" readonly>
                            <button class="btn btn btn-danger inline" type="submit">Delete</button>
                        </form>
                        
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock content %}