{% extends 'base.html' %}


{% block content %}
<section>
    <div class = "row  align-items-center">
        <!-- <center> -->
        <div class="col-md-7 text-center">
            <div class="col d-block">
                <h1 class="mx-auto " style = "font-size:50px;">Short links, big results</h1>
            </div>
            <div class="col m-4">
                <a href="/create/"><button type="button" class="btn btn-lg btn-primary mx-auto" style = "width:200px">Get Started</button></a>
            </div>
        </div>
        <div class="col-md-5">
            <img src="https://ik.imagekit.io/kkwkkhna0xe/home.jpg" width="570"></a>
        </div>
        <!-- </center> -->
    </div>
</section>
{% endblock content %}