{% extends 'base.html' %}

{% block content %}
    <div>
        {% if messages %}
            <div class="text-center">
                {% for message in messages %}
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <form action="/register/" method="POST" class="form-group text-center">
        {% csrf_token %}
        <div class = "mt-4">
            <div class="form-floating m-2">
                <div><label for="floatingInput">Username</label></div>
                <div class="as">{{form.username}}</div>
            </div>
            <div class="form-floating m-2">
                <div><label for="floatingPassword">Password</label></div>
                <div>{{form.password1}}</div>
            </div>

            <div class="form-floating m-2">
                <div><label for="floatingPassword">Confirm Password</label></div>
                <div>{{form.password2}}</div>
            </div>

            <div class = "mt-4">
                <button class="btn btn-lg btn-primary" type="submit">Sign Up</button>
            </div>
        </div>
   </form>
{% endblock content %}
